<header></header>
<% if (user) { %>
  <p>Logged in as <%=user.id%></p>
  <p><%= user.email%></p>
    <form action = "/logout" method="POST">
    <input type = "submit" value="Logout">
    </form>
<% } else { %>
  <body>
    <div id ="button"><a href = "/login">Log In</a></div>
<div id = "button"><a href = "/register">Register</a></div>
  </body>
<% } %>
