<!DOCTYPE html>
<html lang="en">
<body>
<header>Register</header>

  <form action = "/register" method="POST">
    email: <input name = "email" type="email">
    password: <input type="password" name="password">
    <input type="submit" action = "/register" method = "POST">
  </form>
</body>
</html>
