<html lang="en">
<head>TinyApp
</head>
<body>
<header><% include ../views/partials/_header %>
</header>
    <% for(const key in urls) { %>
  <form method="POST" action="/urls/<%=key%>/delete">><button>Delete</button></form>
  <form method = "GET" action="/urls/<%=key%>"><button>edit</button></form>
    <li><%= key + ': ' + urls[key].longURL %></li>
    <%} %>
    <a href="/urls/new">Shorten URLs here!</a>
</body>





</html>