<!DOCTYPE html>
<html>
<body>

<form method = "POST" action= "/urls/<%=shortURL%>">
  shortURL: <%= shortURL %><br>
  <input type="text" name= "longURL" value="<%= urlDatabase[shortURL]%>">
  <br>
  <input type="submit" value="Update">
</form>


</body>

</html>

