<!DOCTYPE html>
<html>
<body>
<header><% include ../views/partials/_header %>
</header>
<form method = "POST" action= "/urls/<%=shortURL%>">
  shortURL: <%= shortURL %><br>
  <input type="text" name= "longURL" value="<%= urls[shortURL]%>">
  <br>
  <input type="submit" value="Update">
</form>


</body>

</html>

